version: "3.8"

services:
  backend:
    container_name: backend_container
    build: ./backend
    ports:
      - "3000:3000"
    restart: always

  frontend:
    container_name: frontend_container
    build: ./frontend
    ports:
      - "8080:80"
    restart: always
