version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    command: ["node", "server.js"]

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend
